#accountName{
    border-radius: 5px;
    font-family: JupiterBold;
}
button{
    font-family: JupiterBold;
}

#phoneNumber{
    border-radius: 5px;
    font-family: JupiterBold;
}
.btn{
    background-color: #bbbbbb;
    border-radius:5px;
}