body{
    color:#bbbbbb;
}
.accountInfo span{
    border-bottom: dashed #f3db51 4px;
    /*text-decoration: underline;
    text-decoration-style: dashed;*/
}
#accountName{
    border-radius: 5px;
    font-family: JupiterBold;
}
button{
    font-family: JupiterBold;
}

#phoneNumber{
    border-radius: 5px;
    font-family: JupiterBold;
}
.btn{
    background-color: #003074;
    border-radius:5px;
    color:#bbbbbb;
}

.container div{
    padding:5px;
}

button{
    width:100%;
}

button:hover{
    background: #003ca2;
}

@media screen and (max-width: 1000px) {
    .container{
        font-size:2em;
    }
    .stretch{
        flex-direction: column;
        width:100%;
        font-size:2em;
    }
    button{
       width:30%;
       font-size: 25%;

    }
}