#item{
    margin-top: 7%;
    margin-left:7% ;
    margin-right: 7%;
    

}



.dropDown{
    margin-bottom: 7%;
    margin-left:7% ;
    margin-right: 7%;
    background-color: #bbbbbb;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

#itemName{
    padding:2%;
    font-size:150%;
    
}

.orderButton{
    margin:7%;
    background-color: #dbaa18;
    color: white;
    padding: 2%;
    border-radius: 5px;
}
.actualOrderButton span{
    margin:7%;
    background-color: #dbaa18;
    color: white;
    padding: 10%;
    border-radius: 5px;
}

.actualOrderButton span:hover{
    background-color: #f3db51;
}

.hidden{
    display:none;
}

.shrink{
    max-width: 70%;
    margin:auto;
}

#itemName{
    text-align: center;
}

.aside{
    color:#bbbbbb;
    text-shadow: 1px 1px black;
}
.asideTitle{
    margin-bottom: 5%;
}
#cart{
    border:solid black 1px;
}
.asideTitle{
    margin-top:10px;
}
.asideTitle span{
    border-bottom:solid black 2px;
    
}
.asideTitle div div{
    margin-top:10px;
}

.cartItem{
   width:50%;
    margin:auto;
}


@media screen and (max-width: 1000px) {
    .foodItem1000{
		flex-direction: column;
	}
    .breakFlex{
        display:flex;
    }
    .stats{
        font-size:2em;
    }
    .container{
        margin:5px;
    }
    .shrink{
        height:100%;
        margin:5px;
        max-width:100%;
    }
    .asideTitle{
          text-align: center;
        
    }
    #cartTitle{
        font-size: 2em;
        margin-bottom:2%
    }
    
    
    
}

