#item{
    margin-top: 7%;
    margin-left:7% ;
    margin-right: 7%;
    

}



.dropDown{
    margin-bottom: 7%;
    margin-left:7% ;
    margin-right: 7%;
    background-color: #bbbbbb;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

#itemName{
    padding:2%;
    font-size:150%;
    
}

#orderButton{
    margin:7%;
    background-color: #dbaa18;
    color: white;
    padding: 2%;
    border-radius: 5px;
}
.hidden{
    display:none;
}