html, body {
	height: 100%;
	width: 100%;
	background-color: white;
	margin:0;
	
	
}

/*div {
	border: solid black 2px;
	margin: 5px;
	padding: 5px;
}*/
span {
	padding-bottom: 0;
	border-bottom:solid black 3px;
}



img{
	width:100%;
	height:100%;}

.flex{display: flex;}
.flex.right{justify-content: right;}
.flex.center{justify-content: center;}
.flex.left{justify-content: left;}
.flex.top{align-items: top;}
.flex.middle{align-items: center};
.flex.bottom{align-items: bottom;}

.x1{flex:1;}
.x2{flex:2;}
.x3{flex:3;}
.x4{flex:4;}
.x5{flex:5;}
.x6{flex:6;}

.header{
	background-color:#003ca2;
	color:white;
}


#cafeName{
	font-family: 'Audiowide', cursive;
	font-size: 400%;
	text-shadow: 5px 5px black;
}
#theme{
	font-family: 'Audiowide', cursive;
	text-shadow: 3px 3px #23282e;
}
#nav div a{
	background-color:#003074;
	font-family: 'Audiowide', cursive;
	font-size:100%;
	border-radius:5px;
	width:15%;
	
}






.container{
	max-width: 1200px;
	margin:auto;
}

a{
	color:white;
}

.title{
	color: #f3db51;
	font-family: 'Audiowide', cursive;
	font-size: 200%;
	text-shadow: 3px 3px #dbaa18;
	
	
}
.exampleImage{
	border:solid #23282e 2px;
	height:100%;
	border-radius: 5px;
}
.section{
	margin-bottom:5%;
}
.info {
	border: solid #23282e 2px;
	height:98%;
	background-color:#bbbbbb;
	border-radius:5px;
	font-family:sans-serif;
}

p{
	margin:4%;
}

.articleRight{
	margin-right:1%;
}
.articleLeft{
	margin-left:1%;
}

.margin-Bottom{
	margin-bottom: 3%;
}

